<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067675486956-6qjrn7j6omldqjp7qqvcs5p21022s7bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067675486956-6qjrn7j6omldqjp7qqvcs5p21022s7bt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1067675486956-7932ko6hg6onogj1vm4viuhgpcq2999m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuOghah7WRONCFDi7bCS5hrMw5Bgb6at4</string>
	<key>GCM_SENDER_ID</key>
	<string>1067675486956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyCourse</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-a144d</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-a144d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067675486956:ios:6ff4d8aab523b083dd73c9</string>
</dict>
</plist>